
<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
</head>

    <body class="container">
        <form method="post" action="/login">
            <input type="hidden" name="next" value="{{next}}" />
            
            <label>Username</label>
            <input type="text" name="username">

            <label>Password</label>
            <input type="password"  name="password">

            <button>Submit</button>
        </form>
    </body>
</html>